:root{
  background-color: rgba(20,20,20)
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "courier new";
  font-weight: 400;
  color: white;
}

body {
  opacity: 0;
  text-align: center;
  position: absolute;
  animation-duration: 4s;
  animation-name: slidein;
  animation-fill-mode: forwards; 
}

hr{
  width: 750px;
}
a:link , a:visited{
  color:white;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  margin: 2rem;
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  width: 400px;
  height: 500px;
}
.card > img{
  width: 100%;
  border-radius: 5px;
}
.card:hover{
  box-shadow: 8px 8px rgba(255, 255, 255, 0.4);
}
.container{
  padding: 2px 16px;
}

@keyframes slidein {

 from {
  /*margin-left: 100%;*/
  width: 100%;
 }


 to {
  opacity: 100%;
  /*margin-left: 1%;*/
  width: 100%;
 }

}
